@model Students_Site.Models.Teacher.TeacherModel

@{
	ViewData["Title"] = "ShowTeacher";
}

<div>
	@Html.ActionLink("Вернуться к списку преподавателей", "Index")
</div>

<h1>Преподаватель</h1>

<div>
	<div>
		<label>Имя</label>
		<p>@Html.DisplayFor(m => m.FirstName)</p>
	</div>
	<div>
		<label>Фамилия</label>
		<p>@Html.DisplayFor(m => m.LastName)</p>
	</div>
</div>

<h1>Студенты преподавателя</h1>
<table class="table">
	<tr>
		<th>
			Имя
		</th>
		<th>
			Фамилия
		</th>
		<th></th>
	</tr>

	@foreach (var student in Model.Students)
	{
		<tr>
			<td>
				@Html.DisplayName(student.FirstName)
			</td>
			<td>
				@Html.DisplayName(student.LastName)
			</td>
		</tr>
	}
</table>

