@model Students_Site.Models.Teacher.TeacherModel

@{
	ViewData["Title"] = "ShowTeacher";
}

<div>
	@Html.ActionLink("Вернуться к списку преподавателей", "Index")
</div>

<h1>Преподаватель</h1>

<div>
	<div>
		<label>Имя</label>
		<p>@Html.DisplayFor(m => m.FirstName)</p>
	</div>
	<div>
		<label>Фамилия</label>
		<p>@Html.DisplayFor(m => m.LastName)</p>
	</div>
</div>

<h1>Студенты преподавателя</h1>
<table class="table table-striped table-bordered" name="dataTable" style="width: 100%">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayName(student.FirstName)
            </td>
            <td>
                @Html.DisplayName(student.LastName)
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
        </tr>
    </tfoot>

</table>

@section scripts {

    <environment names="Development">
        <script src="~/js/dataTables.min.js"></script>
        <script src="~/js/startDataTable.js"></script>
    </environment>
}