@using Extensions.Principal
@model Students_Site.Models.Student.StudentMakeModel

@{
	ViewData["Title"] = "Создание студента";
}

<div>
	@Html.ActionLink("Вернуться к списку студентов", "Index")
</div>

<h1>Создание студента</h1>

<form asp-antiforgery="true" asp-action="Create" asp-controller="Student">

	<div class="form-horizontal">

		<div class="form-group">
			<label asp-for="Login">Логин</label>
			<input type="text" asp-for="Login" class="form-control" />
		</div>

		<div class="form-group">
			<label asp-for="Password">Пароль</label>
			<input type="password" asp-for="Password" class="form-control" />
		</div>

		<div class="form-group">
			<label asp-for="FirstName">Имя</label>
			<input type="text" asp-for="FirstName" class="form-control" />
		</div>

		<div class="form-group">
			<label asp-for="LastName">Фамилия</label>
			<input type="text" asp-for="LastName" class="form-control" />
		</div>
		
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Создать студента" class="btn btn-default" />
			</div>
		</div>
		
		<div>
			<h3>Выберите преподавателей, которых хотите закрепить за студентом</h3>

			<table class="table table-striped table-bordered" name="dataTable" style="width: 100%">
				<thead>
					<tr>
						<th></th>
						<th>
							Имя
						</th>
						<th>
							Фамилия
						</th>
						<th>
							Предмет
						</th>
						<th>
							Оценка
						</th>
						<th style="display: none"></th>
					</tr>
				</thead>
				
				<tbody>
				@for (var i = 0; i < Model.TeachersList.Count(); i++)
				{
					<tr>
						<td>
							@if (User.FindFirst("UserId").Value == Model.TeachersList[i].UserId.ToString() || User.IsDean())
							{
								<input asp-for="@Model.TeachersList[i].IsSelected" type="checkbox" />
							}
							else
							{
								<input asp-for="@Model.TeachersList[i].IsSelected" onclick="return false" type="checkbox" />
							}
							
							<input type="hidden" asp-for="@Model.TeachersList[i].IsSelected" />
						</td>
						<td>
							<label asp-for="@Model.TeachersList[i].FirstName">@Model.TeachersList[i].FirstName</label>
							<input type="hidden" asp-for="@Model.TeachersList[i].FirstName" />
						</td>
						<td>
							<label asp-for="@Model.TeachersList[i].LastName">@Model.TeachersList[i].LastName</label>
							<input type="hidden" asp-for="@Model.TeachersList[i].LastName" />
						</td>
						<td>
							<label asp-for="@Model.TeachersList[i].SubjectName">@Model.TeachersList[i].SubjectName</label>
							<input type="hidden" asp-for="@Model.TeachersList[i].SubjectName" />
						</td>
						<td>
							@if (User.FindFirst("UserId").Value == Model.TeachersList[i].UserId.ToString() || User.IsDean())
							{
								<input type="number" value="@Model.TeachersList[i].Grade" asp-for="@Model.TeachersList[i].Grade"/>
							}
							else
							{
								<span>@Model.TeachersList[i].Grade</span>
							}
						</td>
						<td style="display: none">
							<input asp-for="@Model.TeachersList[i].Id" type="hidden" />
						</td>
					</tr>
				}
				</tbody>
				
				<tfoot>
					<tr>
						<th></th>
						<th>
							Имя
						</th>
						<th>
							Фамилия
						</th>
						<th>
							Предмет
						</th>
						<th>
							Оценка
						</th>
						<th style="display: none"></th>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>
</form>

<div>
	@Html.ActionLink("Вернуться к списку студентов", "Index")
</div>

<script src="~/js/entity-response-handle.js" asp-append-version="true"></script>
@section scripts {

	<environment names="Development">
		<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
		
		<script src="~/js/startDataTable.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
				asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.validator">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
				asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
		</script>
	</environment>
}