@model Students_Site.Models.Student.StudentIndexModel

@{
	ViewData["Title"] = "Студенты";
}

<h1>Студенты</h1>

<table class="table">
	<tr>
		<th>
			Имя
		</th>
		<th>
			Фамилия
		</th>
		<th>
			Средний бал
		</th>
		<th></th>
	</tr>


	@foreach (var item in Model.StudentModels)
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.FirstName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.AveradeScore)
		</td>
		<td>
			@Html.ActionLink("Подробнее", "ShowStudent", new { id = item.Id })
		</td>
		@if (User.IsInRole("1") || User.IsInRole("3"))
		{
			<td>
				@Html.ActionLink("Редактировать", "EditStudent", new { id = item.Id })
			</td>
		}
	</tr>
	}



</table>

@if (User.IsInRole("1") || User.IsInRole("3"))
{
	<div>
		@Html.ActionLink("Добавить студента", "MakeStudent")
	</div>
}
