@model Students_Site.Models.Teacher.TeacherEditModel


@{
	ViewData["Title"] = "Редактирование преподавателя";
}

<div>
	@Html.ActionLink("Вернуться к списку преподавателей", "Index")
</div>

<h1>Редактирование преподавателя</h1>


<form asp-antiforgery="true" asp-action="EditTeacher" method="post" asp-controller="Teachers" role="form">

	<div class="form-horizontal">
		
		<input asp-for="UserId" type="hidden"/>

		<div class="form-group">
			<label asp-for="Login">Логин</label>
			<input type="text" asp-for="Login" class="form-control"/>
		</div>

		<div class="form-group">
			<label asp-for="Password">Пароль</label>
			<input type="password" asp-for="Password" value="@Model.Password" class="form-control"/>
		</div>

		<div class="form-group">
			<label asp-for="FirstName">Имя</label>
			<input type="text" asp-for="FirstName" class="form-control"/>
		</div>

		<div class="form-group">
			<label asp-for="LastName">Фамилия</label>
			<input type="text" asp-for="LastName" class="form-control"/>
		</div>

		<h3>Выберите предмет, который будет вести преподаватель</h3>
		
		<div>
			@for (var i = 0; i < Model.Subjects.Count(); i++)
			{
				<div>
					@if (Model.SubjectId == Model.Subjects[i].Id)
					{
						<input asp-for="SubjectId" id="@Model.Subjects[i].Id" value="@Model.Subjects[i].Id" checked type="radio"/>
					}
					else
					{
						<input asp-for="SubjectId" id="@Model.Subjects[i].Id" value="@Model.Subjects[i].Id" type="radio"/>
					}
					<label name="groupSubject" for="@Model.Subjects[i].Id">@Model.Subjects[i].SubjectName</label>

					<input asp-for="@Model.Subjects[i].Id" type="hidden"/>
					<input asp-for="@Model.Subjects[i].SubjectName" type="hidden"/>
				</div>				
			}
		</div>

		<h3>Выберите студентов, которые будут закреплены за данным преподавателем</h3>

		<table class="table">
			<tr>
				<th></th>
				<th>
					Имя
				</th>
				<th>
					Фамилия
				</th>
			</tr>

			@for (var i = 0; i < Model.Students.Count(); i++)
			{
				<tr>
					<th>
						<input asp-for="@Model.Students[i].IsSelected" type="checkbox"/>
					</th>
					<td>
						<label asp-for="@Model.Students[i].FirstName">@Model.Students[i].FirstName</label>
					</td>
					<td>
						<label asp-for="@Model.Students[i].LastName">@Model.Students[i].LastName</label>
					</td>
					<input asp-for="@Model.Students[i].Id" type="hidden"/>
				</tr>
			}
		</table>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Обновить преподавателя" class="btn btn-default"/>
			</div>
		</div>
	</div>
</form>

@section scripts {

	<environment names="Development">
		<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
				asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.validator">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
				asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
		</script>
	</environment>
}