@using System.Security.Claims
@model Students_Site.Models.Home.IndexModel

<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Студенты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Преподаватели</a>
					</li>

					@if (!User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
						</li>
					}
				</ul>
				@if (User.Identity.IsAuthenticated)
				{
					<span class="navbar-brand">@User.FindFirst("FirstName").Value</span>
				    <span class="navbar-brand">@User.FindFirst("LastName").Value</span>
				    <span class="navbar-brand">@User.FindFirst(ClaimsIdentity.DefaultRoleClaimType).Value</span>
				}
				<span class="navbar-text">Кол-во студентов: @Model.StudentCount</span>
				<span class="navbar-text">Кол-во преподавателей: @Model.TeacherCount</span>
				<span class="navbar-text" id="headerDateTime"></span>
			</div>
		</div>
	</nav>
</header>

<script src="~/js/current-time.js"></script>

<script>
	startTime("headerDateTime");
</script>